title: Lina L. Faller, PhD
description: Removing data bottlenecks for biotech companies
baseurl: ''
permalink: pretty
theme: null

logo:
  mobile: "assets/images/carriagetown-logo-mobile.svg"
  mobile_height: "50px"
  mobile_width: "50px"
  desktop: "assets/images/carriagetown-logo.svg"
  desktop_height: "80px"
  desktop_width: "350px"

home:
  limit_services: 6

collections:
  services:
    output: true
    sort_by: weight
  case_studies:
    output: true
    sort_by: date

defaults:
  - scope:
      path: ""
      type: "services"
    values:
      layout: "service"
  - scope:
      path: ""
      type: "case_studies"
    values:
      layout: "case-study"

sass:
  style: compressed
  load_paths:
    - _sass
    - node_modules

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md